---
http_interactions:
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"themes":[{"id":87995383939,"name":"A New Name","created_at":"2020-02-13T14:28:58-05:00","updated_at":"2020-03-03T18:48:38-05:00","role":"main","theme_store_id":796,"previewable":true,"processing":<AUTHORIZATION>,"admin_graphql_api_id":"gid:\/\/shopify\/Theme\/87995383939"}]}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: put
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939.json
    body:
      encoding: UTF-8
      string: '{"theme":{"id":87995383939,"name":"Main Theme","created_at":"2020-02-13T14:28:58-05:00","updated_at":"2020-03-03T18:48:38-05:00","role":"main","theme_store_id":796,"previewable":true,"processing":<AUTHORIZATION>,"admin_graphql_api_id":"gid://shopify/Theme/87995383939"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"theme":{"id":87995383939,"name":"Main Theme","created_at":"2020-02-13T14:28:58-05:00","updated_at":"2020-03-16T19:14:16-04:00","role":"main","theme_store_id":796,"previewable":true,"processing":<AUTHORIZATION>,"admin_graphql_api_id":"gid:\/\/shopify\/Theme\/87995383939"}}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/events.json?created_at_min=2020-02-23%2000:00:00%20UTC&limit=250
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - canary
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"events":[{"id":41693053124739,"subject_id":4596503314563,"created_at":"2020-03-02T15:36:31-05:00","subject_type":"Product","verb":"create","arguments":["VANS
        |AUTHENTIC | LO PRO | BURGANDY\/WHITE","api_client_id",1608003],"body":null,"message":"Simple
        Sample Data created a new product: \u003ca href=\"https:\/\/<SHOPIFY_SHOP_OAUTH_DOMAIN>\/admin\/products\/4596503314563\"\u003eVANS
        |AUTHENTIC | LO PRO | BURGANDY\/WHITE\u003c\/a\u003e.","author":"Simple Sample
        Data","description":"Simple Sample Data created a new product: VANS |AUTHENTIC
        | LO PRO | BURGANDY\/WHITE.","path":"\/admin\/products\/4596503314563"},{"id":41693054992515,"subject_id":4596503412867,"created_at":"2020-03-02T15:36:36-05:00","subject_type":"Product","verb":"create","arguments":["VANS
        | AUTHENTIC | (MULTI EYELETS) | GRADIENT\/CRIMSON","api_client_id",1608003],"body":null,"message":"Simple
        Sample Data created a new product: \u003ca href=\"https:\/\/<SHOPIFY_SHOP_OAUTH_DOMAIN>\/admin\/products\/4596503412867\"\u003eVANS
        | AUTHENTIC | (MULTI EYELETS) | GRADIENT\/CRIMSON\u00[...]
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/shop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"shop":{"id":33682423939,"name":"harry-test-charlie","email":"mo@gadget.dev","domain":"<SHOPIFY_SHOP_OAUTH_DOMAIN>","province":"Ontario","country":"CA","address1":"103
        Ossington Ave","zip":"K1S3B7","city":"Ottawa","source":null,"phone":"","latitude":45.3896769,"longitude":-75.6868652,"primary_locale":"en","address2":null,"created_at":"2020-02-13T14:28:48-05:00","updated_at":"2020-03-03T19:13:37-05:00","country_code":"CA","country_name":"Canada","currency":"CAD","customer_email":"mo@gadget.dev","timezone":"(GMT-05:00)
        Eastern Time (US \u0026 Canada)","iana_timezone":"America\/New_York","shop_owner":"Mohammad
        Hashemi","money_format":"${{amount}}","money_with_currency_format":"${{amount}}
        CAD","weight_unit":"kg","province_code":"ON","taxes_included":<AUTHORIZATION>,"tax_shipping":null,"county_taxes":true,"plan_display_name":"Developer
        Preview","plan_name":"partner_test","has_discounts":<AUTHORIZATION>,"has_gift_cards":<AUTHORIZATION>,"myshopify_domain":"<SHOPIFY_SHOP_OAUTH_DOMAIN>","google_apps_domain":null,"google_apps_login_enabled":null,"money_in_emails_format":"${{amount}}","money_with_currency_in_emails_format":"${{amount}}
        CAD","eligible_for_payments":true,"requires_extra_payments_agreement":<AUTHORIZATION>,"password_enabled":<AUTHORIZATION>,"has_storefront":true,"eligible_for_card_reader_giveaway":<AUTHORIZATION>,"finances":true,"primary_location_id":40065138819,"cookie_consent_level":"implicit","visitor_tracking_consent_preference":"allow_all","force_ssl":true,"checkout_api_supported":<AUTHORIZATION>,"multi_location_enabled":true,"setup_required":<AUTHORIZATION>,"pre_launch_enabled":<AUTHORIZATION>,"enabled_presentment_currencies":["CAD"]}}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: post
    uri: http://127.0.0.1:3001/lighthouse
    body:
      encoding: UTF-8
      string: '{"traceContext":{"purpose":"shopify-app-detector"},"crawlOptions":{},"property":{"id":"236","crawlRoots":["google.com"],"allowedDomains":["google.com"]},"pages":["google.com"],"lighthouseConfig":{"extends":"lighthouse:default","settings":{"onlyAudits":["network-requests"]}}}'
    headers:
      Authorization:
      - "<AUTHORIZATION>"
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/ndjson
    body:
      encoding: UTF-8
      string: |
        {"tag":"system","message":"Request start"}
        {"tag":"log","started":true}
        {"tag":"system","finished":true,"success":true}
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
[...]
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/assets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - canary
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"assets":[{"key":"assets\/ajax-loader.gif","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/ajax-loader.gif?v=1581622139","created_at":"2020-02-13T14:28:59-05:00","updated_at":"2020-02-13T14:28:59-05:00","content_type":"image\/gif","size":2198,"theme_id":87995383939},{"key":"assets\/gift-card.js","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/gift-card.js?v=1581622140","created_at":"2020-02-13T14:29:00-05:00","updated_at":"2020-02-13T14:29:00-05:00","content_type":"application\/javascript","size":487,"theme_id":87995383939},{"key":"assets\/gift-card.scss","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/gift-card.scss?v=1583197067","created_at":"2020-02-13T14:29:17-05:00[...]
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939/assets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
  [...]
[...]
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939/assets.json?asset%5Bkey%5D=assets/test.js&theme_id=87995383939
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"asset":{"key":"assets\/test.js","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/test.js?v=1583279318","value":"console.log(''whatever'');","created_at":"2020-03-03T18:48:38-05:00","updated_at":"2020-03-03T18:48:38-05:00","content_type":"application\/javascript","size":24,"theme_id":87995383939,"warnings":[]}}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: delete
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939/assets.json?asset%5Bkey%5D=assets/test.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      X-Shopify-Shop-Api-Call-Limit:
      - 3/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"message":"assets\/test.js was successfully deleted"}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: put
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939/assets.json
    body:
      encoding: UTF-8
      string: '{"asset":{"key":"assets/test.js","value":"console.log(''whatever'');"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Api-Version:
      - 2020-01
      Location:
      - "/admin/themes/87995383939/assets?asset%5Bkey%5D=assets%2Ftest.js"
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"asset":{"key":"assets\/test.js","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/test.js?v=1584400464","created_at":"2020-03-16T19:14:24-04:00","updated_at":"2020-03-16T19:14:24-04:00","content_type":"application\/javascript","size":24,"theme_id":87995383939,"warnings":[]}}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
[...]
