<% content_for(:title, "Dashboard") %>
<%= render "header" %>

<div class="main-content-area">
  <div class="main-content-container">
    <div class="main-content">
    <h3>Hi</h3>
    </div>
  </div>
</div>