---
http_interactions:
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/shop.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"shop":{"id":33682423939,"name":"harry-test-charlie","email":"mo@gadget.dev","domain":"<SHOPIFY_SHOP_OAUTH_DOMAIN>","province":"Ontario","country":"CA","address1":"103
        Ossington Ave","zip":"K1S3B7","city":"Ottawa","source":null,"phone":"","latitude":45.3896769,"longitude":-75.6868652,"primary_locale":"en","address2":null,"created_at":"2020-02-13T14:28:48-05:00","updated_at":"2020-02-13T15:25:02-05:00","country_code":"CA","country_name":"Canada","currency":"CAD","customer_email":"mo@gadget.dev","timezone":"(GMT-05:00)
        Eastern Time (US \u0026 Canada)","iana_timezone":"America\/New_York","shop_owner":"Mohammad
        Hashemi","money_format":"${{amount}}","money_with_currency_format":"${{amount}}
        CAD","weight_unit":"kg","province_code":"ON","taxes_included":<AUTHORIZATION>,"tax_shipping":null,"county_taxes":true,"plan_display_name":"Developer
        Preview","plan_name":"partner_test","has_discounts":<AUTHORIZATION>,"has_gift_cards":<AUTHORIZATION>,"myshopify_domain":"<SHOPIFY_SHOP_OAUTH_DOMAIN>","google_apps_domain":null,"google_apps_login_enabled":null,"money_in_emails_format":"${{amount}}","money_with_currency_in_emails_format":"${{amount}}
        CAD","eligible_for_payments":true,"requires_extra_payments_agreement":<AUTHORIZATION>,"password_enabled":true,"has_storefront":true,"eligible_for_card_reader_giveaway":<AUTHORIZATION>,"finances":true,"primary_location_id":40065138819,"cookie_consent_level":"implicit","force_ssl":true,"checkout_api_supported":<AUTHORIZATION>,"multi_location_enabled":true,"setup_required":<AUTHORIZATION>,"pre_launch_enabled":<AUTHORIZATION>,"enabled_presentment_currencies":["CAD"]}}'
  recorded_at: Tue, 03 Mar 2020 18:54:36 GMT
[...]
