---
http_interactions:
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/products.json?limit=250&published_status=published
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"products":[{"id":4596506787971,"title":"ADIDAS | CLASSIC BACKPACK","body_html":"\u003cp\u003eThis
        women''s backpack has a glam look, thanks to a faux-leather build with an
        allover fur print. The front zip pocket keeps small things within reach, while
        an interior divider reins in potential chaos.\u003c\/p\u003e","vendor":"ADIDAS","product_type":"ACCESSORIES","created_at":"2020-03-02T15:38:55-05:00","handle":"adidas-classic-backpack","updated_at":"2020-03-05T10:41:16-05:00","published_at":"2020-03-02T15:38:55-05:00","template_suffix":"","published_scope":"web","tags":"adidas,
        backpack, egnition-sample-data","admin_graphql_api_id":"gid:\/\/shopify\/Product\/4596506787971","variants":[{"id":32411351023747,"product_id":4596506787971,"title":"OS
        \/ black","price":"70.00","sku":"AD-03-black-OS","position":1,"inventory_policy":"deny","compare_at_price":"0.00","fulfillment_service":"manual","inventory_management":"shopify","option1":"OS","option2":"black","option3":null,"created_at":"2020-03-02T15:38:55-05:00","updated_at":"2020-03-02T15:38:55-05:00","taxable":true,"barcode":null,"grams":0,"image_id":null,"weight":0.0,"weight_unit":"kg","inventory_item_id":33968463544451,"inventory_quantity":30,"old_inventory_quantity":30,"requires_shipping":true,"admin_graphql_api_id":"gid:\/\/shopify\/ProductVariant\/32411351023747"}],"options":[{"id":5959583367299,"product_id":4596506787971,"name":"Size","position":1,"values":["OS"]},{"id":5959583400067,"product_id":4596506787971,"name":"Color","position":2,"values":["black"]}],"images":[{"id":14567516307587,"product_id":4596506787971,"position":1,"created_at":"2020-03-02T15:38:55-05:00","updated_at":"2020-03-02T15:38:55-05:00","alt":null,"width":635,"height":560,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/products\/85cc58608bf138a50036bcfe86a3a362.jpg?v=1583181535","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/14567516307587"},{"id":14567516340355,"product_id":4596506787971,"position":2,"created_at":"2020-03-02T15:38:55-05:00","updated_at":"2020-03-02T15:38:55-05:00","alt":null,"width":635,"height":560,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/products\/8a029d2035bfb80e473361dfc08449be.jpg?v=1583181535","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/14567516340355"},{"id":14567516373123,"product_id":4596506787971,"position":3,"created_at":"2020-03-02T15:38:55-05:00","updated_at":"2020-03-02T15:38:55-05:00","alt":null,"width":635,"height":560,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/products\/ad50775123e20f3d1af2bd07046b777d.jpg?v=1583181535","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/14567516373123"}],"image":{"id":14567516307587,"product_id":4596506787971,"position":1,"created_at":"2020-03-02T15:38:55-05:00","updated_at":"2020-03-02T15:38:55-05:00","alt":null,"width":635,"height":560,"src":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/products\/85cc58608bf138a50036bcfe86a3a362.jpg?v=1583181535","variant_ids":[],"admin_graphql_api_id":"gid:\/\/shopify\/ProductImage\/14567516307587"}},{"id":4599148183683,"title":"ADIDAS
        | CLASSIC BACKPACK","body_html":"This women''s backpack has a[...]
