---
http_interactions:
- request:
    method: post
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/graphql.json
    body:
      encoding: UTF-8
      string: '{"query":"query Identity__ShopifySignUp__SHOP_DETAILS_QUERY {\n  shop
        {\n    name\n    myshopifyDomain\n    primaryDomain {\n      host\n      url\n    }\n  }\n}","operationName":"Identity__ShopifySignUp__SHOP_DETAILS_QUERY"}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224696107139'
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"shop":{"name":"harry-test-charlie","myshopifyDomain":"<SHOPIFY_SHOP_OAUTH_DOMAIN>","primaryDomain":{"host":"<SHOPIFY_SHOP_OAUTH_DOMAIN>","url":"https:\/\/<SHOPIFY_SHOP_OAUTH_DOMAIN>"}}},"extensions":{"cost":{"requestedQueryCost":2,"actualQueryCost":2,"throttleStatus":{"maximumAvailable":1000.0,"currentlyAvailable":998,"restoreRate":50.0}}}}'
  recorded_at: Mon, 02 Mar 2020 18:28:37 GMT
recorded_with: VCR 5.1.0
