---
http_interactions:
- request:
    method: get
    uri: https://harry-test-charlie.myshopify.com/admin/api/2020-01/themes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - b2ed39c3ec4048a2e87ff3c66cd930d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"themes":[{"id":87995383939,"name":"Debut","created_at":"2020-02-13T14:28:58-05:00","updated_at":"2020-03-02T18:04:03-05:00","role":"main","theme_store_id":796,"previewable":true,"processing":<AUTHORIZATION>,"admin_graphql_api_id":"gid:\/\/shopify\/Theme\/87995383939"}]}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://harry-test-charlie.myshopify.com/admin/api/2020-01/themes/87995383939.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - b2ed39c3ec4048a2e87ff3c66cd930d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"theme":{"id":87995383939,"name":"Debut","created_at":"2020-02-13T14:28:58-05:00","updated_at":"2020-03-02T18:04:03-05:00","role":"main","theme_store_id":796,"previewable":true,"processing":<AUTHORIZATION>,"admin_graphql_api_id":"gid:\/\/shopify\/Theme\/87995383939"}}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://harry-test-charlie.myshopify.com/admin/api/2020-01/assets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - b2ed39c3ec4048a2e87ff3c66cd930d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"assets":[{"key":"assets\/ajax-loader.gif","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/ajax-loader.gif?v=1581622139","created_at":"2020-02-13T14:28:59-05:00","updated_at":"2020-02-13T14:28:59-05:00","content_type":"image\/gif","size":2198,"theme_id":87995383939},{"key":"assets\/gift-card.js","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/gift-card.js?v=1581622140","created_at":"2020-02-13T14:29:00-05:00","updated_at":"2020-02-13T14:29:00-05:00","content_type":"application\/javascript","size":487,"theme_id":87995383939},{"key":"assets\/gift-card.scss","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/gift-card.scss?v=1581622157","created_at":"2020-02-13T14:29:17-05:00[...]
- request:
    method: get
    uri: https://harry-test-charlie.myshopify.com/admin/api/2020-01/themes/87995383939/assets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - b2ed39c3ec4048a2e87ff3c66cd930d9
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
[...]
