---
http_interactions:
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"themes":[{"id":87995383939,"name":"Debut","created_at":"2020-02-13T14:28:58-05:00","updated_at":"2020-03-02T20:05:19-05:00","role":"main","theme_store_id":796,"previewable":true,"processing":<AUTHORIZATION>,"admin_graphql_api_id":"gid:\/\/shopify\/Theme\/87995383939"}]}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939/assets.json?asset%5Bkey%5D=assets/test.js&theme_id=87995383939
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"theme":{"id":87995383939,"name":"Debut","created_at":"2020-02-13T14:28:58-05:00","updated_at":"2020-03-02T20:05:19-05:00","role":"main","theme_store_id":796,"previewable":true,"processing":<AUTHORIZATION>,"admin_graphql_api_id":"gid:\/\/shopify\/Theme\/87995383939"}}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/assets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - canary
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"assets":[{"key":"assets\/ajax-loader.gif","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/ajax-loader.gif?v=1581622139","created_at":"2020-02-13T14:28:59-05:00","updated_at":"2020-02-13T14:28:59-05:00","content_type":"image\/gif","size":2198,"theme_id":87995383939},{"key":"assets\/gift-card.js","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/gift-card.js?v=1581622140","created_at":"2020-02-13T14:29:00-05:00","updated_at":"2020-02-13T14:29:00-05:00","content_type":"application\/javascript","size":487,"theme_id":87995383939},{"key":"assets\/gift-card.scss","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/gift-card.scss?v=1583197067","created_at":"2020-02-13T14:29:17-05:00[...]
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939/assets.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
  [...]
- request:
    method: put
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939/assets.json
    body:
      encoding: UTF-8
      string: '{"asset":{"key":"assets/test.js","value":"console.log(''whatever'');"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Shop-Api-Call-Limit:
      - 2/40
      X-Shopify-Api-Version:
      - 2020-01
      Location:
      - "/admin/themes/87995383939/assets?asset%5Bkey%5D=assets%2Ftest.js"
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"asset":{"key":"assets\/test.js","public_url":"https:\/\/cdn.shopify.com\/s\/files\/1\/0336\/8242\/3939\/t\/1\/assets\/test.js?v=1583243773","created_at":"2020-03-03T08:56:13-05:00","updated_at":"2020-03-03T08:56:13-05:00","content_type":"application\/javascript","size":24,"theme_id":87995383939,"warnings":[]}}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
[...]
- request:
    method: delete
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/themes/87995383939/assets.json?asset%5Bkey%5D=assets/test.js
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"message":"assets\/test.js was successfully deleted"}'
  recorded_at: Sun, 01 Mar 2020 00:00:00 GMT
[...]
