---
http_interactions:
- request:
    method: get
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/webhooks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: '{"webhooks":[{"id":781655998595,"address":"https:\/\/test-app.ggt.dev\/shopify\/webhooks\/app_uninstalled","topic":"app\/uninstalled","created_at":"2020-03-03T15:12:02-05:00","updated_at":"2020-03-03T15:12:02-05:00","format":"json","fields":[],"metafield_namespaces":[],"api_version":"2020-01","private_metafield_namespaces":[]}]}'
  recorded_at: Tue, 03 Mar 2020 20:12:55 GMT
- request:
    method: delete
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/webhooks/781655998595.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      Location:
      - https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/webhooks
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: ASCII-8BIT
      string: "{}"
  recorded_at: Tue, 03 Mar 2020 20:12:56 GMT
- request:
    method: post
    uri: https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/api/2020-01/webhooks.json
    body:
      encoding: UTF-8
      string: '{"webhook":{"address":"https://test-webhooks.ggt.dev/shopify/webhooks/example","topic":"app/uninstalled"}}'
    headers:
      Content-Type:
      - application/json
      X-Shopify-Access-Token:
      - "<SHOPIFY_SHOP_OAUTH_ACCESS_TOKEN>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Sorting-Hat-Podid:
      - '130'
      X-Sorting-Hat-Shopid:
      - '33682423939'
      X-Shopid:
      - '33682423939'
      X-Shardid:
      - '130'
      X-Stats-Userid:
      - ''
      X-Stats-Apiclientid:
      - '3500207'
      X-Stats-Apipermissionid:
      - '224777339011'
      Http-X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Shop-Api-Call-Limit:
      - 1/40
      X-Shopify-Api-Version:
      - 2020-01
      Location:
      - https://<SHOPIFY_SHOP_OAUTH_DOMAIN>/admin/webhooks
      X-Shopify-Stage:
      - production
      X-Dc:
      - gcp-us-central1,gcp-us-central1
    body:
      encoding: UTF-8
      string: '{"webhook":{"id":781656785027,"address":"https:\/\/test-webhooks.ggt.dev\/shopify\/webhooks\/example","topic":"app\/uninstalled","created_at":"2020-03-03T15:12:56-05:00","updated_at":"2020-03-03T15:12:56-05:00","format":"json","fields":[],"metafield_namespaces":[],"api_version":"2020-01","private_metafield_namespaces":[]}}'
  recorded_at: Tue, 03 Mar 2020 20:12:56 GMT
[...]
