<% content_for(:title, 'Infrastructure') %>
<%= render layout: "layout" do %>
<div class="main-content-area">
  <div class="main-content-container">
    <div class="main-content">
      <%= button_to "Run Global Enqueue Crawls Job", run_periodic_enqueue_crawls_path, method: :post %>
    </div>
  </div>
</div>
<% end %>